body {
    margin: auto;
    padding: auto;
}

.header {
    background-color: #676b4f;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.Syllabus{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 2px solid #000000;
    align-items: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#heading {
    font-size: 24px;
    
}

#heading {
    font-size: 30px;
    margin: 30px;
    color: #f7f7f7;
    font-family: 'Times New Roman', Times, serif;
}

#img {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

#heading1 {
    margin-top: 0%;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(53, 77, 29);
    font-size: 40px;
    text-align: center;
    background-color: rgb(167, 166, 116);
    margin-bottom: 0%;
}

.main1 {
    margin: auto;
    display: inline-flex;
    background-color: #7a8032;
}

.main2 {
    margin: auto;
    display: inline-flex;
    background-color: #7a8032;
}

.container {
    margin: 20px;
    justify-content: space-evenly;
    gap: 20px;
}

#year {
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(120, 141, 44);
    width: 620px;
    height: 100px;
}


p {
    font-size: large;
    justify-content: center;
    display: flex;
    text-align: center;
}

button {
    padding: 10px 15px;
    margin: auto;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.footer {
    background-color: rgb(166, 187, 138);
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#name {
    margin: 10px;
    font-size: 20px;
}