body {
    margin: auto;
    padding: auto;
    perspective: 1000px;
    background-color: #ffffff;
    color: #0d47a1;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    min-width: 400px;
}

.header2 {
    background-color: #2563eb;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 400px;

}

#QC, #CC, #CD {
    font-size: 20px;
    color: #000000;
    margin: 10px;
    max-width: 400px;
    text-align: center;
    padding-bottom: 15px;
}

p {
    font-size: 16px;
    color: #ffffff;
    max-width: 590px;
    text-align: center;
    padding-bottom: 15px;
    min-width: 400px;
}
#img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    transition: transform 0.6s ease-in-out;
}

#heading {
    font-size: 34px;
    margin-top: auto;
    margin-bottom: auto;
    color: #030303;
    text-transform: uppercase;
    transition: transform 0.6s ease-in-out;
}

#heading:hover {
    transform: rotateX(10deg) translateY(-5px);
}

.Main-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    place-content: center;
    text-align: center;
    padding-top: 20px;
    gap: 40px;
}

@media (max-width: 770px) {
    .Main-page {
        flex-direction: column;
        place-items: center;
    }
}

h5 {
    font-size: 15px;
    color: #2563eb;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.icon {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    padding-left: auto;
    padding-right: auto;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.3);
}

.icon-container {
    padding-left: auto;
    padding-right: auto;
    max-width: 350px;
    min-width: 200px;
    }

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#img1 {
    border-radius: 20px;
    max-width: 100%;
    height: 250px;
    width: 280px;
    transition: transform 0.3s ease-in-out;
}

#img1:hover {
    transform: scale(1.05);
}

#btn {
    padding: 12px 20px;
    background-color: #e2e3ec;
    color: #2563eb;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#heading1 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 42px;
    text-align: center;
    color: #ffffff;
    transition: transform 0.5s ease-in-out;
    margin: auto;
}

#btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(37, 99, 235, 0.3);
}

.Year {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    place-items: center;
}

#heading2 {
    font-size: 42px;
    color: #1d3557;
    text-align: center;
    text-shadow: -5px 0px 6px #1d3557;
}

.Syllabus {
    text-align: center;
    display: flex;
    border: 3px solid #ffffff;
    margin: 35px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 375px;
    transition: transform 0.3s ease-in-out, box-shadow 0.5s;
    color: black;
    box-shadow: 0 0px 15px 10px rgb(39 74 213 / 20%), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#btn1 {
    padding: 17px;
    margin: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #2563eb;
    color: white;
    font-size: 18px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    min-width: 70px;
    max-height: 50px;
}

#btn1:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 15px rgba(37, 99, 235, 0.3);
}
.Syllabus:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.footer {
    background-color: #2563eb;
    font-size: 22px;
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
}

.flink {
    color: #ffffff;
    text-decoration: none;
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    .Syllabus {
        width: 90%;
    }

    #btn {
        min-width: 50px;
    }

    #btn1 {
        min-width: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        max-height: 50px;
        padding: 10px;
    }
}
